
.sidebar {
    min-height: 0;
    border-right: solid 1px black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;

    
    .fixedUser {
        display: flex;
        width: 100%;
        margin-left: auto;
    }

    .userList {
        height: 100%;
    
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;

        overflow-y: auto;
    }
    

}