.tabs {
    list-style: none;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px black;
    background-color: lightgrey;
    height: 30px;
    margin-bottom: -1px;

    li {
        border-right: solid 1px black;
        padding: 5px 15px;
        cursor: pointer;
        margin-bottom: -1px;

        &.active{
            border-bottom: solid 1px white;
            background-color: white;
        }

        &:not(.active){
            border-bottom: solid 1px black;
        }

    }

}