header {
    border-bottom: solid 1px black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
}